<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/css/homePage.css">
    <title>Home</title>
</head>
<body>

    
    <div class="header">Subway Series</div>
        <div>
            <div class="card"> 
                <img src="public/photos/42ndst.jpg" alt="s">
                <div class="card-content"> 
                    <a href="" class="SS1 font"> SS1 -SHOP</a>
                </div>
            </div>
            <div class="card"> 
                <img src="public/photos/metrocard.gif" alt="u">
                <div class="card-content"> 
                    <a href="/" class="font">Youtube</a> 
                </div>
            </div>
            <div class="card"> 
                <img src="public/photos/train.gif" alt="b">
                <div class="card-content"> 
                    <a href="/ class="font"> Instagram</a> 
                </div>
            </div>
            <div class="card"> 
                <img src="public/photos/timbs.gif" alt="w">
                <div class="card-content"> 
                    <a href="/" class="font"> Spotify</a>
                </div>
            </div>
            <div class="card"> 
                <img src="public/photos/jalenbrunson.gif" alt="a">
                <div class="card-content"> 
                    <a href="/" class="font"> Apple Pod</a>
                </div>
            </div>
        <div>
    
    <div class="footer"> </div>






    <script src="public/js/homePage.js"></script>
</body>
</html>